body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid #ffeb3b;
}

.audio-list {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.audio-controls {
  display: flex;
  align-items: center;
  width: 300px;
}

.play-button {
  background-color: #ffeb3b;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.progress-container {
  flex-grow: 1;
  height: 10px;
  background-color: red;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-barr {
  height: 100%;
  background-color: #ffeb3b;
  width: 0.5%;
  min-width: 2px;
  transition: width 0.1 ease;
}

#current-track {
  margin-top: 10px;
  color: #ffeb3b;
}
